@import "mixins";

html{
  min-height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #DBE4E7;
}

/* SPACING */
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

.padding {
  padding: 1em;
}

.padding-half {
  padding: 0.5em;;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-bottom-double {
  padding-bottom: 2em;
}

.padding-bottom-half {
  padding-bottom: 0.5em;
}

.padding-bottom-quarter {
  padding-bottom: 0.25em;
}

.padding-right {
  padding-right: 1em;
}

.padding-right-half {
  padding-right: 0.5em;
}

.padding-right-double {
  padding-right: 2em;
}

.padding-right-quarter {
  padding-right: 0.25em;
}

.padding-left {
  padding-left: 1em;
}

.padding-left-half {
  padding-left: 0.5em;
}

.padding-left-double {
  padding-left: 2em;
}

.padding-left-quarter {
  padding-left: 0.25em;
}

.padding-top {
  padding-top: 1em;
}

.padding-top-half {
  padding-top: 0.5em;
}

.padding-top-double {
  padding-top: 2em;
}

.padding-top-quarter {
  padding-top: 0.25em;
}

.padding-double {
  padding: 2em;
}

a.button, button.button {
  border: 1px solid #a0a7b7;
  color: #46495b;
  @include gradient(#ffffff, rgba(255, 255, 255, 0.5));
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea, select {
  border: 1px solid #a0a7b7 !important;
}

.header-row {
  background-color: #393B48;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
}

.full-height {
  min-height: 100%;
}

/* Height */
.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

div.error {
  margin-top: -0.95rem;
  font-size: 0.9rem;
  color: #a94442;
}

input.ng-dirty.ng-invalid {
  //border: 1px solid #a94442;
}

// ng-show hide of expandable area animation
.expandable-animation.ng-hide {
  max-height: 0;
  @include transition(max-height 0.5s);
  overflow: hidden;
}

.expandable-animation {
  max-height: 350px;
  @include transition(max-height 0.5s);
  overflow: hidden;
}


select {
  border-width: 2px;
  border-color: #a0a7b7;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
}

.white-container {
  border-style: solid;
  border-width: 2px;
  border-color: #d0d4df;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
}

.title {
  font-weight: 600;
  font-size: 1rem;

  &.middle {
    padding: 0.3625rem 0;
  }
}

[type='checkbox'] + label, [type='radio'] + label {
  font-size: 1rem;
}

.switch {
  margin-bottom: 0;
}

.trd-button {
  border-radius: 4px;
  border: 1px solid #a0a7b7;
  background-color: #ffffff;
  @include gradient(#ffffff, rgba(255, 255, 255, 0.5));
  color: #46495b;
  font-weight: 600;
}


//.switch-paddle {
//  background: #ffffff;
//  @include gradient(rgb(236, 236, 236), rgb(253, 253, 253));
//  border: 1px solid #a0a7b7;
//}