@mixin border-radius($radius, $side: null) {
    @if($side) {
        @if($side == 'left') {
            -webkit-border-top-left-radius: $radius;
            border-top-left-radius: $radius;
            -webkit-border-bottom-left-radius: $radius;
            border-bottom-left-radius: $radius;
            -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        @elseif($side == 'right') {
            -webkit-border-top-right-radius: $radius;
            border-top-right-radius: $radius;
            -webkit-border-bottom-right-radius: $radius;
            border-bottom-right-radius: $radius;
            -webkit-border-top-left-radius: 0;
            border-top-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    @else {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        border-radius: $radius;
    }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin gradient($from, $to) {
    background: $from;
    background: -moz-linear-gradient(top, $from 0, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,$from), color-stop(100%,$to));
    background: -webkit-linear-gradient(top, $from 0,$to 100%);
    background: -o-linear-gradient(top, $from 0,$to 100%);
    background: -ms-linear-gradient(top, $from 0,$to 100%);
    background: linear-gradient(to bottom, $from 0,$to 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 )";
}

@mixin box-sizing() {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin transform($transform) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin animation($prop) {
    -webkit-animation: $prop;
    -moz-animation: $prop;
    -o-animation: $prop;
    animation: $prop;
}

@mixin background-clip($clip) {
    -moz-background-clip: $clip;
    -webkit-background-clip: $clip;
    background-clip: $clip;
}
