/* SPACING */
.no-padding { padding: 0; }

.padding { padding: 1em; }
.padding-half { padding: 0.5em;; }

.padding-bottom { padding-bottom: 1em; }
.padding-bottom-double { padding-bottom: 2em; }
.padding-bottom-half { padding-bottom: 0.5em; }
.padding-bottom-quarter { padding-bottom: 0.25em; }

.padding-right { padding-right: 1em; }
.padding-right-half { padding-right: 0.5em; }
.padding-right-double { padding-right: 2em; }
.padding-right-quarter { padding-right: 0.25em; }

.padding-left { padding-left: 1em; }
.padding-left-half { padding-left: 0.5em; }
.padding-left-double { padding-left: 2em; }
.padding-left-quarter { padding-left: 0.25em; }

.padding-top { padding-top: 1em; }
.padding-top-half { padding-top: 0.5em; }
.padding-top-double { padding-top: 2em; }
.padding-top-quarter { padding-top: 0.25em; }

/* BUTTONS STYLE */
.button, button {
  border-color: #a0a7b7;
  border-top-color: rgb(160, 167, 183);
  border-right-color: rgb(160, 167, 183);
  border-bottom-color: rgb(160, 167, 183);
  border-left-color: rgb(160, 167, 183);
  border-style: solid;
  border-width: 1px;

  background: #fff;
  background: -moz-linear-gradient(top, #Fefefe 0, #ececec 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #Fefefe), color-stop(50%, #ececec));
  background: -webkit-linear-gradient(top, #Fefefe 0, #ececec 50%);
  background: -o-linear-gradient(top, #Fefefe 0, #ececec 50%);
  background: -ms-linear-gradient(top, #Fefefe 0, #ececec 50%);
  background: linear-gradient(to bottom, #Fefefe 0, #ececec 50%);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;

  color: #4B5161;

  &:hover {
    border-color: #375e97;

    background: #fff;
    background: -moz-linear-gradient(top, #Fefefe 0, #ececec 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #Fefefe), color-stop(50%, #ececec));
    background: -webkit-linear-gradient(top, #Fefefe 0, #ececec 50%);
    background: -o-linear-gradient(top, #Fefefe 0, #ececec 50%);
    background: -ms-linear-gradient(top, #Fefefe 0, #ececec 50%);
    background: linear-gradient(to bottom, #Fefefe 0, #ececec 50%);

    color: #4B5161;
  }

}