.symbol-list {
  list-style-type: none;
  margin: 0; }
  .symbol-list li .symbol {
    background-color: white; }
    .symbol-list li .symbol .name {
      color: #428bca;
      display: inline-block;
      cursor: pointer; }
    .symbol-list li .symbol button {
      width: 90px; }
      .symbol-list li .symbol button .title {
        font-size: 11px;
        color: #474a5b;
        text-align: left; }
        .symbol-list li .symbol button .title i, .symbol-list li .symbol button .title .text {
          float: left; }
      .symbol-list li .symbol button .pips {
        font-size: 17px;
        color: #474a5b;
        text-align: left;
        clear: both; }
      .symbol-list li .symbol button .buy-sell-header {
        text-align: left;
        font-size: 11px;
        margin-left: -2px; }
