.symbol-list {
  list-style-type: none;
  margin: 0;

  li {

    .symbol {
      background-color: white;

      .name {
        color: #428bca;
        display: inline-block;
        cursor: pointer;
      }

      button {

        width: 90px;

        .title {
          font-size: 11px;
          color: #474a5b;
          text-align: left;

          i, .text {
            float: left;
          }

        }

        .pips {
          font-size: 17px;
          color: #474a5b;
          text-align: left;
          clear: both;
        }

        .buy-sell-header {
          text-align: left;
          font-size: 11px;
          margin-left: -2px;
        }

      }

    }

    a {
      //&.active, &:hover {
      //  background-color: #393B48;
      //}
      //color: #9DA1BC;
    }

  }

}