.menu-bar {
  background-color: #474A5B; }
  .menu-bar li {
    background-color: #474A5B; }
    .menu-bar li a {
      color: #9DA1BC; }
      .menu-bar li a.active, .menu-bar li a:hover {
        background-color: #393B48; }

.second-bar ul {
  background-color: white; }
  .second-bar ul li {
    background-color: white; }
    .second-bar ul li.active, .second-bar ul li:hover {
      border-bottom: 2px solid #E24B26; }
    .second-bar ul li a {
      color: #9FA3AE; }
      .second-bar ul li a.active, .second-bar ul li a:hover {
        color: #666A76; }
