<div class="top-bar no-padding menu-bar">
    <ul class="menu expanded text-center">
        <li tabindex="0"><a href="#" tabindex="-1" ui-sref="rates" ui-sref-active='active'><i class="fa fa-line-chart"></i> Trading</a></li>
        <li tabindex="1"><a href="#" tabindex="-1"><i class="fa fa-star-half"></i> Strategies</a></li>
        <li tabindex="2"><a href="#" tabindex="-1" ui-sref="open-positions" ui-sref-active='active'><i class="fa fa-info-circle"></i> My Account</a></li>
    </ul>
</div>

<div class="top-bar no-padding second-bar" ng-show="MenuBar.$state.includes('trading')">
    <ul class="menu text-center">
        <li tabindex="0" ui-sref="rates" ui-sref-active='active'><a href="#" tabindex="-1">RATES</a></li>
        <li tabindex="1"><a href="#" tabindex="-1">LIVE CHART</a></li>
        <li tabindex="2"><a href="#" tabindex="-1">LIVE SIGNALS</a></li>
    </ul>
</div>

<div class="top-bar no-padding second-bar" ng-show="MenuBar.$state.includes('account')">
    <ul class="menu text-center">
        <li tabindex="0" ui-sref="open-positions" ui-sref-active='active'><a href="#" tabindex="-1">OPEN POSITIONS</a></li>
        <li tabindex="1"><a href="#" tabindex="-1">PENDING ORDERS</a></li>
        <li tabindex="2"><a href="#" tabindex="-1">TRADE HISTORY</a></li>
    </ul>
</div>