<div class="top-bar no-padding menu-bar">
    <ul class="menu expanded text-center">
        <li tabindex="0"><a href="#" tabindex="-1" ui-sref="trading" ui-sref-active='active'><i class="fa fa-line-chart"></i> Trading</a></li>
        <li tabindex="1"><a href="#" tabindex="-1"><i class="fa fa-star-half"></i> Strategies</a></li>
        <li tabindex="2"><a href="#" tabindex="-1"><i class="fa fa-info-circle"></i> My Strategies</a></li>
    </ul>
</div>
<div class="top-bar no-padding second-bar">
    <ul class="menu text-center">
        <li tabindex="0" ui-sref="rates" ui-sref-active='active'><a href="#" tabindex="-1">RATES</a></li>
        <li tabindex="1"><a href="#" tabindex="-1">LIVE CHART</a></li>
        <li tabindex="2"><a href="#" tabindex="-1">LIVE SIGNALS</a></li>
    </ul>
</div>