.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

section.forgot {
  background-color: #d2dbde; }
  section.forgot a.button.expanded {
    background-color: white;
    color: black; }
