<section class="details full-height">
    <div class="row">
        <div class="small-12 columns header-row">
            <i class="fa fa-arrow-left"></i>
            Open Position
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns padding">
            <div class="row">
                <div class="small-12 columns">
                   <strong>{{::edit.model.SystemName}}</strong>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    {{::edit.model.InstrumentName}} {{::edit.model.TradePositionTypeName}}
                </div>
            </div>
            <div class="row padding-top">
                <div class="small-4 columns">AccountID</div>
                <div class="small-4 columns">Amount</div>
                <div class="small-4 columns">TicketID</div>
            </div>
            <div class="row">
                <div class="small-4 columns">{{::edit.model.AccountID}}</div>
                <div class="small-4 columns">{{::edit.model.Amount}}</div>
                <div class="small-4 columns">{{::edit.model.TicketID}}</div>
            </div>
            <div class="row padding-top">
                <div class="small-4 columns end">Open Price</div>
            </div>
            <div class="row">
                <div class="small-4 columns end">{{::edit.model.OpenPrice}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="small-10 columns">
            Stop Loss
        </div>
        <div class="small-2 columns">
            <div class="switch small radius">
                <input class="switch-input" id="stopLossSwitch" type="checkbox" name="stopLossSwitch" ng-model="edit.showStopLoss" ng-change="edit.stopLossChanged()">
                <label class="switch-paddle" for="stopLossSwitch">
                    <span class="switch-active" aria-hidden="true"></span>
                    <span class="switch-inactive" aria-hidden="true"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row expandable-animation" ng-show="edit.showStopLoss">
        <div class="columns small-12">
            <div class="row padding-top">
                <div class="small-6 columns">
                    <input type="radio" value="Price" ng-model="edit.stopLossOption"> Price
                </div>
                <div class="small-6 columns">
                    <input type="text" ng-model="edit.model.stopLossPrice">
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <input type="radio" value="pipsDistance" ng-model="edit.stopLossOption"> Distance in Pips
                </div>
                <div class="small-6 columns">
                    <input type="text" ng-model="edit.stopLossDistanceInPips">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="small-10 columns">
            Take Profit
        </div>
        <div class="small-2 columns">
            <div class="switch small radius">
                <input class="switch-input" id="takeProfitSwitch" type="checkbox" name="takeProfitSwitch" ng-model="edit.showTakeProfit" ng-change="edit.takeProfitChanges()">
                <label class="switch-paddle" for="takeProfitSwitch">
                    <span class="switch-active" aria-hidden="true"></span>
                    <span class="switch-inactive" aria-hidden="true"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row expandable-animation" ng-show="edit.showTakeProfit">
        <div class="columns small-12">
            <div class="row padding-top">
                <div class="small-6 columns">
                    <input type="radio" value="Price" ng-model="edit.TakeProfitOption"> Price
                </div>
                <div class="small-6 columns">
                    <input type="text" ng-model="edit.model.takeProfitStopLossPrice">
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <input type="radio" value="pipsDistance" ng-model="edit.TakeProfitOption"> Distance in Pips
                </div>
                <div class="small-6 columns">
                    <input type="text" ng-model="edit.takeProfitDistanceInPips">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <a href="#" class="button expanded">Cancel</a>
        </div>
        <div class="small-8 columns">
            <button type="submit" class="button expanded" ng-click="submitted=true;">Apply</button>
        </div>
    </div>

</section>