<section class="order full-height">
    <div class="row">
        <div class="small-12 columns header-row">
            <i class="fa fa-arrow-left"></i>
            Personal Information
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns padding-top">
            <form novalidate name="form" ng-submit="login.login(form)">
                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" ng-model="login.credentials.userName" name="user" placeholder="Username" required />
                        <div class="error" ng-show="form.user.$dirty && form.user.$error.required">Username is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="password" ng-model="login.credentials.password" name="pass" placeholder="Password" required />
                        <div class="error" ng-show="form.pass.$dirty && form.pass.$error.required">Password is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <select ng-options="b as b.brokerName for b in login.brokers track by b.brokerID" ng-model="login.selectedBroker" ng-change="login.getAttributesByBroker(login.selectedBroker)" name="broker" required />
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 columns">
                        <button class="button expanded" type="submit">Cancel</button>
                    </div>
                    <div class="small-6 columns">
                        <button class="button expanded" type="submit">Apply</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>