<div class="row summary padding-bottom-half padding-left padding-right-half">
    <div class="small-5 columns">
        <div>Total Positions</div>
        <div><strong>{{model.length}}</strong></div>
    </div>
    <div class="small-4 columns">
        <div>Total Pips</div>
        <div><strong>184</strong></div>
    </div>
    <div class="small-3 columns pull-right">
            <span class="pull-right">
                <a href="#" class="button">
                    New Order
                </a>
            </span>
    </div>
</div>

<ul class="positions-list padding-bottom">
    <li ng-repeat="item in model" class="row padding-right padding-left padding-top-half">

        <div class="columns small-12 white-bg padding-bottom-half">
            <div class="row">
                <div class="small-9 columns padding-top-half">

                    <div class="name-container">
                        <i class="fa fa-buysellads"></i>
                        <span class="name">{{::item.SystemName}}</span>
                    </div>
                    <div class="peer-container">
                        <span class="peer">{{::item.InstrumentName}}</span>
                        <span class="type">{{::item.TradePositionTypeName}}</span>
                    </div>


                    <div class="row padding-top-half">
                        <div class="small-3 columns">
                            <div class="title">Ticket ID</div>
                            <div class="text">{{::item.TicketID}}</div>
                        </div>
                        <div class="small-3 columns">
                            <div class="title">Open Price</div>
                            <div class="text">{{::item.OpenPrice}}</div>
                        </div>
                        <div class="small-3 columns">
                            <div class="title">Pips</div>
                            <div class="text green">{{item.Pips}}</div>
                        </div>

                        <div class="small-3 columns">
                            <div class="title">P/L</div>
                            <div class="text green">{{item.Profit}}</div>
                        </div>
                    </div>

                </div>

                <div class="small-3 columns padding-top buttons-container padding-top-half">
                    <div class="padding-bottom-half right-align">
                        <a href="#" class="button"><i class="fa fa-wrench"></i></a>
                    </div>
                    <div class="right-align">
                        <a href="#" class="button"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </li>
</ul>