<div class="title-bar">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>
        <span>¥ 4,634,721</span>
    </div>

    <div class="title-bar-left padding-left padding-right padding-top-quarter" style="width: 40%">
        <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
              <span class="progress-meter" style="width: 25%">
                <p class="progress-meter-text">25%</p>
              </span>
        </div>
    </div>
    <div class="title-bar-right padding-right-quarter padding-top-quarter">
        <div class="money-icon" data-toggle="offCanvasRight"></div>
    </div>
    <div class="title-bar-right padding-right padding-top-quarter">
        <i class="fa fa-bell-o" style="font-size: 19px;"></i>
    </div>
</div>