<div class="top-bar">
    <div class="pull-left">
        <ul class="menu">
            <li class="padding-right-half padding-left-half"><i class="fa fa-bars"></i></li>
            <li class="padding-right-half padding-left-half">¥ 4,634,721</li>
        </ul>
    </div>
    <div class="pull-right">
        <ul class="menu">
            <li class="padding-right-half padding-left-half"><i class="fa fa-bell-o"></i></li>
            <li class="padding-right-half padding-left-half"><i class="fa fa-caret-down"></i></li>
        </ul>
    </div>
</div>