.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

section.login {
  background-color: #d2dbde; }
  section.login .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; }
